PORT=3000
NODE_ENV=development

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=nest_db

# Security
JWT_SECRET=super-secret-key-change-me-in-production
JWT_EXPIRATION=7d

# Mail SMTP (Hostinger)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=contato@lscreativy.com.br
SMTP_PASSWORD=21082016l_S#2024#
SMTP_FROM="ML Estoque <suporte@mlestoque.com.br>"
FRONTEND_URL=http://localhost:5173
